.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #1e293b; /* slate-900 */
  color: white;
}

.desktopHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d1d5db; /* gray-300 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
}
.desktopHeaderInner {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

.desktopHeaderInner > span,
.desktopHeaderInner > div {
  margin: 0 10px;
}

.breadcrumbWrapper {
  padding: 0 48px;
  margin-top: 10px;
}

.contentWrapper {
  padding: 24px 0;
  min-height: 280px;
  border-radius: 8px;
}

.footer {
  text-align: center;
}
