.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; 
  background-color: #f5f5f5; 
  border-radius: 5px;
}

.formBox {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff; 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.inputField {
    width: 99%;
  margin-bottom: 18px;
  padding: 12px;
  border: 1px solid #cbd5e1; 
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputField:focus {
  outline: none;
  border-color: #1e3a8a; 
  box-shadow: 0 0 0 3px rgba(30, 58, 138, 0.2); 
}

.submitBtn {
    
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #1e3a8a; /* سورمه‌ای */
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  background-color: #3b82f6; /* آبی ملایم */
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
}
