@import "tailwindcss";

@font-face {
  font-family: "B_Yekan";
  src: url("/BYekan.woff");
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}
@font-face {
  font-family: "poppins";
  src: url("/PoppinsLatin-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fa{
  font-family: 'B_Yekan';
}
.en{
  font-family: "poppins";
}
html,
body {
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
  line-height: 1.6;
}
