.card {
   height: 400px;
  border-radius: 12px;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: contain;
  background-color: #f3f4f6;
}

.cardDesc {
  min-height: 50px;
  color: #374151; 
  font-size: 14px;
  margin: 8px 0;
}

.cardPrice {
  color: #0ea5e9; 
  font-weight: bold;
  font-size: 16px;
}

.cardButton {
  background-color: #0ea5e9;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 8px 0;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.cardButton:hover {
  background-color: #0284c7; /* آبی تیره‌تر هنگام هاور */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 16px;
}
